.profile-navigation-bar
  height: 300px
  display: flex
  justify-content: center
  background-color: #00005e
  .wrapper
    display: flex
    align-items: flex-end
    width: 80%
    .picture
      width: 150px
      height: 150px
      font-size: 2.25rem
      background-color: #3f51b5
    .tabs-nav
      flex: 1
