.trainings-body
  display: flex
  flex-direction: column
  width: 1000px
  align-items: center
  .training
    display: flex
    flex-direction: column
    .header
      font-size: 20px
      display: inline-flex
      align-self: center
      align-items: center
      .divider
        width: 10px
        height: 2px
        margin: 0 5px
        background-color: black
    .temp
      display: inline-flex
      justify-content: space-between
      font-family: 'Times New Roman', Times, serif
    .datum
      position: relative
      font-size: 30px
      font-family: 'Courier New', Courier, monospace
      